<div class="row">
    <div class="col-md">
        <div class="content-section">
            <div class="row">
                <div class="col">
                    <h3 class=""><%= story.title %></h3>
                </div>

                <% if (story.user._id.toString() == locals.user._id.toString()) { %>
                    <div class="col-auto p-1">
                        <div class="row p-0 m-0">
                            <div class="col m-0 p-0 mx-2">
                                <a href="/stories/edit/<%= story._id %>" class="btn btn-sm btn-primary px-4">
                                    Edit <i class="fa fa-edit"></i>
                                </a>
                            </div>
                            <div class="col m-0 p-0 mx-2">
                                <form action="/stories/<%= story._id %>" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger px-4">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <small class="text-muted"><%= story.createdAt.toLocaleString('en-US') %></small>
            <div class="">
                <p><%= story.body %></p>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-section">
            <div class="text-center">
                <img class="m-4 rounded-circle article-img" src="<%= story.user.image %>" height="150px" width="150px">
                <h4 class="m-0 p-0"><%= story.user.displayName %> </h4>
                <hr class="">
            </div>


            <div class="text-center my-2">
                <a href="/stories/user/<%= story.user._id %>" class="plain-anchor text-primary">
                    More from <%= story.user.firstName %>
                </a>
            </div>
        </div>
    </div>
</div>